@media (min-width: 600px) {

  main {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 0;
    position: relative;
  }


  .hero-image-container {
    position: absolute;
    top: 0;
    left: 0;


    width: 100%;

    max-width: none;

    height: 100%;
    z-index: 1;
    max-height: none;
    overflow: hidden;
  }

  .hero-image-responsive {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }


  .data-section,
  .weather-section {
    position: relative;
    z-index: 10;
    width: 35%;
    max-width: 400px;
    margin: 40px;
    background-color: var(--box-bg-opacity);
    backdrop-filter: blur(3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 0;
  }


  .weather-section {
    margin-left: auto;
    margin-top: 280px;
  }

  .data-section h2,
  .weather-section h2 {
    background-color: var(--box-header-bg);
    color: var(--secondary-color);
    padding: 15px 20px;

    margin-left: -2px;
    margin-right: -2px;
    margin-top: -2px;

    border-bottom: 2px solid var(--box-header-bg);
    border-radius: 8px 8px 0 0;
  }

    .data-section h2,
    .weather-section h2 {
      position: relative;
  
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    /* PSEUDOELEMENTO ::AFTER */

    .weather-section h2::after {
      content: "";
    
      background-image: url('/week03/images/cloud-sun.svg');
      background-size: contain;
      background-repeat: no-repeat;
  
      width: 30px;
      height: 30px;
      margin-left: 0;
  
      display: none;
      vertical-align: middle;
    }


  .emoji-icon svg {
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }

  /* List Items */
  .data-section li,
  .weather-section li {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: center;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    padding: 5px 0;
  }

  .data-section .value,
  .weather-section .value {
    text-align: right;
  }

  /* Footer content alignment for desktop*/
  .footer-content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content-wrapper p {
    text-align: left;
    width: auto;
  }
}