
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #224d69;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #00a0dc;
}

header h1 {
    margin: 0;
    font-size: 1.3em;
}


nav {
    background-color: #5e4242;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
}

nav a:hover {
    background-color: #555;
}

.content-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    gap: 20px;
}

.card-about-me {
    flex: 3;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.web-dev-resources {
    flex: 1;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-about-me h2, .web-dev-resources h2 {
    background-color: #387e97;
    color: white;
    padding: 10px;
    margin-top: 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 1.2em;

}

.card-bio-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.card-bio-content p {
    text-align: justify;
}

.card-bio-content img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
}

hr {
    border-top: 2px solid #928d8d;
    width: 80%;
}
.location-info h3 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 1em;
}

.location-info p {
    flex: 1;
    text-align: justify;
}

.elSalvador-details {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    
}

.flag {
    flex-shrink: 0;
    width: 80px;
    border: 1px solid #333;
    align-items: flex-start;
    gap: 30px;
    padding: 15px;
}

.white-stripe  {
    height: 28%;
    width: 100%;
    background-color: white;
    float: left;
}

.blue-stripe {
    height: 30%;
    width: 100%;
    background-color: blue;
    float: left;
}

.bblue-stripe {
    height: 30%;
    width: 100%;
    background-color: blue;
    float: left;
}

.flag p {
    clear: both;
    text-align: center;
    font-size: 0.5em;
    margin: 5px 0 0 0;
}

.web-dev-resources ul {
    list-style-type: disc;
    padding: 0;
}

.web-dev-resources li {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

.web-dev-resources a {
    text-decoration: none;
    color:lightseagreen;
}

footer {
    background-color: #224d69;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    border-top: 5px solid #00a0dc;
}

footer {
    margin-top: 5px 0;
}

@media (max-width: 768px) {
    .content-container, .bio-content, .elSalvador-details
    {
        flex-direction: column;
    }

    .bio-content img {
        margin: 0 auto;
        display: block;
        
    }
}
