:root {
    --primary-color: #004D40;
    --secondary-color: #F7F7F7;
    --accent-color: #4DD0E1;

    --heading-font: 'Playfair Display', serif;
    --body-font: 'Montserrat', sans-serif;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--body-font);

    margin: 20px auto;
    padding: 25px;
    max-width: 950px;
    border: 2px solid var(--accent-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    padding-bottom: 12px;
    font-size: 2.8em;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-top: 35px;
    border-left: 10px solid var(--accent-color);
    padding-left: 20px;
    font-size: 2.0em;
}

p,
li {
    line-height: 1.8;
}

hr {
    border: none;
    border-top: 2px dashed var(--accent-color);
    margin: 35px 0;
}

.scenario-list li {
    background-color: #E0F2F1;
    padding: 15px;
    border-left: 7px solid var(--primary-color);
}

.wireframe-box {
    border: 3px dashed var(--accent-color);
    padding: 25px;
    background-color: #FFF;
}